/* box colors: */
.box-1 {
  background: #9d00ff;
}
.box-2 {
  background: #fa6800;
}
.box-3 {
  background: #f0a30a;
}
.box-4 {
  background: #cc00ff;
}
.box-5 {
  background: #a4c400;
}
.box-6 {
  background: #00ff33;
}
.box-7 {
  background: #00aba9;
}
.box-8 {
  background: #1ba1e2;
}
.box-9 {
  background: #0033ff;
}
/*  */
.box {
  font-size: 50px;
  color: white;
  width: 200px;
  /* width: 33.333333%; */
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
}
/****************************  container properties**************************** */

/********************************* 
flex-direction - specifies how items are placed in a flex container defining the main axis and direction 
flex-direction :row , flex-direction :row-reverse 
flex-direction :column ,flex-direction :column-reverse  
********************************

/********************************* 
justify-content - defines how space is distributed between items in a flex container.
1) justify-content: flex-end shifts everything to end. 
2) justify-content: flex-start shifts everything to beginning 
3) justify-content: center - 
********************************** /

/**********************************  
flex-wrap - specifies whether items are forced into a single line or can be wrapped into multiple line
set items at 300px width show items without wrap then put wrap to show how it wraps to next line.
flex-wrap: wrap & flex-wrap: wrap-reverse
*/
/********************************* align-items  **********************************/
/* 
 align-items - defines how a space is distributed between items in flex container
 along cross axis.
 
 */
/********************************* align-items  **********************************/

/****************************  container properties **************************** */

/**************************** flex item props **************************** */
/* order */
/* flex */
/* flex-grow */
/* flex-shrink */
/* align-self */

/**************************** flex item props **************************** */
.container {
  display: flex; /* first thing to get it to register flex */
  border: 8px solid black;
  height: 80vh;
  /************************ Flex ************************/
  /* flex-wrap: wrap; */
  /* flex-wrap: wrap-reverse */
  /* flex-direction: row; this is default  */ 
  /* flex-direction: column; */
  /* flex-direction: row-reverse; */
  /************************ Flex ************************/

  /***************************Justify Content***************************/
  /* justify content controls horizontal alignment */

  /* justify-content: flex-end  */
  /* justify-content: flex-start  */
  /* justify-content: center  */
  /* justify-content: space-between */
  /* justify-content: space-around */
  /* justify-content: space-evenly; */
  /***************************Justify Content***************************/

  /********************************* align-items  **********************************/
  /* align-items: shorter word: vertical alignment  */
  /* align-items: center; */
  /* align-items: flex-start */
  /* align-items: flex-end; */

  /********************************* align-items  **********************************/
}


